.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('backgroundImages/blob4.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.acuditForma1{
    background-image: url('backgroundImages/blob.svg');
    width: 100%;
    background-position:center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.acuditForma2{
    background-image: url('backgroundImages/blob1.svg');
    background-position:center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.acuditForma3{
    background-image: url('backgroundImages/blob2.svg');
    background-position:center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.acuditForma4{
    background-image: url('backgroundImages/blob3.svg');
    background-position:center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.wheater{
    text-align: center;
    margin-top: 80px;
}

h2 {
    margin-top: 10%;
    text-align: center;
}


#jokeMessage {
    padding: 20px;
    text-align: center;
    font-size: large;
}

.valoration{
    text-align: center;
}

.visibleValoration{
    display: none;
}

.bad {
    box-shadow: inset;
	width: 20px;  /* Ancho del botón */
    height: 20px;
	border: 1px solid red; /* Borde */
	background:red;/* Fondo */
	border-radius: 5px;  /* Bordes redondos */
}

.bad:active, .bad:focus {
	background:red;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}
.bad:focus {
    background:red;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}

.medium{
    box-shadow: inset;
	width: 20px;  /* Ancho del botón */
    height: 20px;
	border: 1px solid yellow; /* Borde */
	background:yellow;/* Fondo */
	border-radius: 5px;  /* Bordes redondos */
}
.medium:active {
	background:yellow;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}
.medium:focus {
    background:yellow;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}

.fine{
    box-shadow: inset;
	width: 20px;  /* Ancho del botón */
    height: 20px;
	border: 1px solid green; /* Borde */
	background:green;/* Fondo */
	border-radius: 5px;  /* Bordes redondos */
}
.fine:active {
	background:green;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}
.fine:focus {
    background:green;  /* Fondo más oscuro que el original */
	box-shadow:inset 4px 4px 4px rgba(0,0,0,.3), inset -3px -3px 3px rgba(255,255,255,.2);
}
.buttonClass{
    margin-top: 30px;
}
.btn {
    align-self: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 15px;
    height: 40px;
    background-color: #9BE8D8;
    border-color: #84c3b6;
    border-radius: 10px;
}

.btn:hover {
    color: aliceblue;
    background-color: #84c3b6;
}

